.promo-tile a img {
  border-radius: 1rem;
  width: 100%; 
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0; 
    left: 0;
}

@media (min-width: 769px), print {
  .pagebuilder-mobile-only {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .pagebuilder-mobile-hidden {
    display: none !important;
  }
}
